html {
    display: block;
}

body {
    display: block;
}
  
html, body {
    min-width: 290px;
    font-family: 'Open Sans', sans-serif;
}
  
#navbar {
    height: 100%;
    position: fixed;
    min-width: 200px;
    border-right: 4px solid gray;
    top: 0;
    left: 0;
    width: 300px;
}
  
header {
    margin: 15px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
  
#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
  
#navbar li {
    border-top: 1px solid; 
    list-style: none;
    width: 100%;
    position: relative;
}
  
#navbar a {
    display: block;
    padding: 8px 30px;
    color: rgb(16, 14, 14);
    text-decoration: none;
    cursor: pointer;
}
  
#main-doc {
    margin-left: 310px;
    position: absolute;
    padding: 10px;
}
  
#main-doc header {
    text-align: left;
    margin: 0px;
}
  
#main-doc article {
    margin: 17px;
}
  
article p {
    text-align: justify;
}

@media (max-width: 500px) {
    #navbar {
      position: absolute;
      width: 100%;
      max-height: 250px;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 1;
      border-bottom: 2px solid;
    }
    #navbar ul {
        height: 207px;
    }
    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 250px;
    }
  }
